.App {
	text-align: center;
	padding: 32px;
	margin-top: 32px;
	min-width: 500px;
	background-color: white;
	border-radius: 20px;
	box-shadow: rgb(0 0 0 / 20%) 0 0 10px;
}

body {
	background-color: skyblue;
}

#root {
	display: flex;
	justify-content: center;
}
